[defaults]
# Tell Ansible to look for roles in the 'roles/' folder
# relative to this config file (the project root).
roles_path = ./roles

# It's also good practice to tell it where your inventory is
inventory = ./inventory/hosts.ini

[galaxy]
server_list = published

[galaxy_server.published]
url=https://console.redhat.com/api/automation-hub/content/published/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3NjE2NDQ1MDAsImp0aSI6IjJmYjQ3NDUzLWQ0YjAtNGVjNC1iMjFmLTcwMWU0MTU3MTJkMSIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1NDUyMTg2NyIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiNzU2ZWYzNGQtMTlkMy00YmVjLTg1ODUtY2QyODExNjE0OTFlIiwic2lkIjoiNTZhNjU1MWItN2JkYy00NjJjLTlmN2YtODM5YWU0ZDEzY2ViIiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgYXBpLmFza19yZWRfaGF0IG9mZmxpbmVfYWNjZXNzIn0.exxs0ix9ZViHIsi6c_siDLldWdCHm8WUvcne65PuD84WhE16BCS2jRFZpIz4YkdeV0vulYhqEB71ysKhL4fHog